<main class="container">
  {{> page-header heading="Add a new team"}}
  <p>
    <a href="/teams">Back to teams</a>
  </p>
  <section style="max-width: 30rem" class="pt-3">
    <form>
      <div class="mb-3">
        <label for="title" class="form-label">Team Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <button type="submit" class="btn btn-primary">Create Team</button>
    </form>
    </div>

  </section>