<main class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Team Tracker</h1>
      <p class="lead text-muted">Use this app to have a clean, simple dashboard
        for tracking the progress of your teams and documenting important
        conversations and info.</p>
      <p>
        <a href="/signup" class="btn btn-primary btn-lg my-2">Signup to get
          started!</a>
      </p>
      <p class="pt-5">
        Already have an account?
        <a href="/login">Login here.</a>

      </p>
    </div>
  </div>
</main>