<link rel="stylesheet" href="/css/signup.css" />
<div class="wrapper">
  <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating">
        <input
          type="email"
          class="form-control form-signin-input form-signin-input-top"
          id="email-input"
          placeholder="name@example.com"
          autocomplete="off"
        />
        <label for="email-input">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control form-signin-input form-signin-input-bottom"
          id="password-input"
          placeholder="Password"
          autocomplete="off"
        />
        <label for="password-input">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
    </form>
    <p>Don't have an account yet? <a href="/signup">Register here</a></p>
  </main>
</div>