<main class="container">
  {{> page-header heading="Red Team"}}

  <p>
    <a href="/teams">Back to teams</a>
  </p>
  <section class="">
    <h2 class="h5">Members</h2>
    <p>Anna, Berry, Cedric, Donna<br><a href="/teams/1/members">edit</a></p>
  </section>

  <section class="pt-3">
    <div class="d-flex justify-content-between pb-3">
      <h2 class="h5">Log</h2>
      <a href="/teams/1/add-note" class="btn btn-primary">Add Note</a>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Mon 1/22/2022 11:00 AM
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio.</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Mon 1/22/2022 11:00 AM
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio.</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Mon 1/22/2022 11:00 AM
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio.</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Mon 1/22/2022 11:00 AM
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio.</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Mon 1/22/2022 11:00 AM
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio.</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Mon 1/22/2022 11:00 AM
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio.</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Mon 1/22/2022 11:00 AM
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio.</p>
      </div>
    </div>
  </section>
</main>
